.t-box {
  border: 1px solid #000;
}

.t-heading {
  /* padding: 0 20px; */
  /* border-bottom: 1px solid #000; */
}
.t-l {
  width: 100px; /* Line length */
  height: 2px; /* Line thickness */
  background-color: #ddd; /* Line color */
  border: none;
  margin: 10px auto 0 auto; /* Spacing and centering */
}
